{{ partial "header" . }}

<main>

    <div class="intro">

        {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}
        <div class="title">
            <h2>{{ .Site.Title }}</h2>
            <h4>{{ .Site.Params.Description }}</h4>
        </div>

        <p>
            Software engineer, based in Berlin, Germany. Jack of all the trades. Codes in Javascript, Java and Golang unless playing with other stuff. 
            Enjoys riding and fixing bikes, bouldering, surfing and outdoor activities in general, making pizza and playing Nintendo Switch.
            Check out <a href="/about">About</a> section if you want to find out more and potentially work with me.
        </p>
            
    </div>

</main>

{{ partial "footer" . }}
